{% extends "layout.html" %}
{% from "form-macro.html" import form_macro %}

{% block title %}AI{% endblock%}

{% block body %}

{% if history %}
<h2>AI query history</h2>
<table>
    <tr>
        <th>Lesson</th><th>Time</th><th>Model</th><th>AI credits</th>
    </tr>
    {% for item in history %}
    <tr>

        <td>{{item.topic or item.attempt.node_id}}</td><td><a href="/ai/queries/{{item.id}}">{{item.time | localtime}}</a></td><td>{{item.model}}</td><td>{{item.milli_dollars}} m$</td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% if form %}
<h2>Query on {{topic or 'nothing'}}</h2>
<div class="notification">
    You have {{current_user.ai_credits}} m$ AI credits left.
</div>
{{ form_macro(form) }}
{% endif %}

{% endblock %}