<div id="feedback-{{ learning_resource.id }}" class="feedback-container">
    <div hx-post="/feedback/learning-resource" hx-target="#feedback-{{ learning_resource.id }}" hx-swap="outerHTML" hx-vals='{"resource_id": "{{ learning_resource.id }}", "feedback_type": "like"}'>
        <button class="like-button {% if user_resource_feedback and user_resource_feedback.feedback_type == 'like' %}clicked{% endif %}" aria-label="Like">
            ↑
        </button>
    </div>
    <span class="feedback-count" title="Likes: {{ learning_resource.likes_count|default('0', true) }}, Dislikes: {{ learning_resource.dislikes_count|default('0', true) }}">
        <span class="likes-count">{{ learning_resource.likes_count|default('0', true) }}</span>
    </span>
    <div hx-post="/feedback/learning-resource" hx-target="#feedback-{{ learning_resource.id }}" hx-swap="outerHTML" hx-vals='{"resource_id": "{{ learning_resource.id }}", "feedback_type": "dislike"}'>
        <button class="dislike-button {% if user_resource_feedback and user_resource_feedback.feedback_type == 'dislike' %}clicked{% endif %}" aria-label="Dislike">
            ↓
        </button>
    </div>
    <span class="feedback-count" title="Likes: {{ learning_resource.likes_count|default('0', true) }}, Dislikes: {{ learning_resource.dislikes_count|default('0', true) }}">
        <span class="dislikes-count">{{ learning_resource.dislikes_count|default('0', true) }}</span>
    </span>
</div>
