<div class="learning-resource-card link-preview">
    <a target="_blank" href="{{ resource_data.link|e }}" class="learning-resource-content">
        <div class="learning-resource-thumbnail" style="background-image: url('/link_preview/{{ resource_data.link|e }}');"></div>
        <div class="learning-resource-info">
            <h1>{{ resource_data.title }}</h1>
            <div class="learning-resource-description" aria-expanded="false">
                {{ resource_data.info | default('<!-- placeholder to keep the design consistent -->') | markdown | safe }}
            </div>
        </div>
    </a>
    {% if user_authenticated %}
        {% include "learning_resource_feedback_buttons.html" %}
    {% endif %}
</div>
