{% extends "layout.html" %}
{% from "form-macro.html" import form_macro %}

{% block title %}
    <a href="/companies">Companies</a>
    <a href="#" >Internship</a>
{% endblock%}

{% block body %}
    {{ form_macro(form, action) }}

    <script>
        function toggleExtraFields(companySelectEl) {
            const elements = document.querySelectorAll('.optional, .notification');
            if (companySelectEl.value === "-1") {
                elements.forEach(el => { el.classList.remove('no-display'); });
            } else { 
                elements.forEach(el => { el.classList.add('no-display'); });
            }
        }

        toggleExtraFields(document.getElementById("company-select"));
        
        document.getElementById("company-select").addEventListener("change", function(event) {
            toggleExtraFields(event.target);
        });
    </script>
{% endblock %}
