* {
    font-family: arial;
    font-size: inherit;
}

body {
    padding: 0;
    margin: 0;
    background-color: #444;
    color: #444;
    background-image: url(bg.jpg);
    background-size: cover;
}

form {
    background-color: white;
    border-radius: 6px;
    max-width: 350px;
    margin: 40px auto;
    padding: 16px;
}

label {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
}

label > p {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}

label > *:last-child {
    flex: 1;
    width: 0;
}

label > *:last-child > * {
    width: 100%;
}


label > p:first-child, label > input[type="text"]:first-child {
    width: 7em;
    margin-right: 8px;
}

input[type="password"], input[type="text"] {
    height: 1.5em;
    padding: 4px 8px;
    box-sizing: border-box;
}

input[type="checkbox"] {
    flex: 0;
    margin: 0 8px 0 0;
}

input[type="submit"] {
    margin-left: auto;
    display: block;
    color: white;
    background-color: #aaa;
    padding: 4px 8px;
}

input {
    border-radius: 3px;
    outline: none;
    border: 1px solid #aaa;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
}

input.good {
    border: 1px solid #16bb16;
    box-shadow: 0 2px 2px rgba(0,128,0,0.3);
}

input.bad {
    border: 1px solid #b51b1b;
    box-shadow: 0 2px 2px rgba(128,0,0,0.3);
}

input.good[type=submit] {
    background-color: #16bb16;
}

form div.error {
    color: #b51b1b;
    font-size: 85%;
    margin-top: 4px;
}

form > a {
    display: block;
    margin-bottom: 16px;
    color: #558eda;
    text-decoration: none;
}